@import "src/styles.scss";

.app-footer {
  background: #000;
  color: #fff;
  width: 100%;
  height: 64px;
}

.footer-inner {
  max-width: 932px;
  margin: 0 auto;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.links {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;

  .link-item {
    a {
      text-decoration: none;
      color: #fff;
      font: $font-bold-xs;
    }

    &.has-divider {
      position: relative;
      padding-left: 14px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 12px;
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 14px;

  a {
    display: inline-flex;

    &:hover,
    &:focus {
      opacity: 1;
      outline: none;
    }
  }

  img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
  }
}

.footer-container {
  height: 100%;
  align-content: center;
  align-items: center;
}
