@import "../../../styles";

.header {
  padding: 20px;
}

.aiports-list {
  margin: 10px 10px 10px 0;
}

.example-card {
  max-width: 80%;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  .mat-card-content {
    margin-left: 15px;
  }
}

.main-airport-list-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 32px;
  max-width: 932px;
  margin: 32px auto;
  padding: 0 16px;
  min-height: 100dvh;

  .section-title {
    font: $font-bold-lg;
    margin-bottom: 16px;
  }

  .section-image {
    margin-bottom: 16px;
    width: 100%;
  }

  .section-description {
    font: $font-regular-xs;
    margin-bottom: 16px;
  }
}
